*.pyc
.vscode
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
.idea
latent_space/data/*
experimenting/data/*
submodules/simple-knn/simple_knn.egg-info/*
submodules/simple-knn/build/*
